AutoCreateContourSPEC/AutoCreateContourSPEC/Connected Services/WebMailService/EmailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmailService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.118.11.112/Common/EmailService/EmailService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.118.11.112/Common/EmailService/EmailService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.118.11.112/Common/EmailService/EmailService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmailService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendMessageCcBcc_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageCcBcc" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendMessageCcBcc_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageCcBccResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendMessageBCC_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageBCC" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendMessageBCC_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageBCCResponse" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendMessageWithOutlookEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageWithOutlookEmail" />
  </wsdl:message>
  <wsdl:message name="IEmailService_SendMessageWithOutlookEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageWithOutlookEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmailService">
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SendMessage" message="tns:IEmailService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/SendMessageResponse" message="tns:IEmailService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageCcBcc">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SendMessageCcBcc" message="tns:IEmailService_SendMessageCcBcc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/SendMessageCcBccResponse" message="tns:IEmailService_SendMessageCcBcc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageBCC">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SendMessageBCC" message="tns:IEmailService_SendMessageBCC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/SendMessageBCCResponse" message="tns:IEmailService_SendMessageBCC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithOutlookEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmailService/SendMessageWithOutlookEmail" message="tns:IEmailService_SendMessageWithOutlookEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmailService/SendMessageWithOutlookEmailResponse" message="tns:IEmailService_SendMessageWithOutlookEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmailService" type="tns:IEmailService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/IEmailService/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageCcBcc">
      <soap:operation soapAction="http://tempuri.org/IEmailService/SendMessageCcBcc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageBCC">
      <soap:operation soapAction="http://tempuri.org/IEmailService/SendMessageBCC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessageWithOutlookEmail">
      <soap:operation soapAction="http://tempuri.org/IEmailService/SendMessageWithOutlookEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmailService">
    <wsdl:port name="BasicHttpBinding_IEmailService" binding="tns:BasicHttpBinding_IEmailService">
      <soap:address location="http://10.118.11.112/Common/EmailService/EmailService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>